<div class="top_image_wrapper">
  <% if !user_signed_in? %>
    <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
    <%= link_to "ログイン", new_user_session_path, class: "btn btn-success" %>
  <% end %>
  <%= image_tag 'top_idea.jpg',id: "top_idea", class: "top_idea" %>
  <p id= "top_title">Idea Bank</p>
  <p id= "top_catch_copy">
    ここにキャッチコピーを入れる<br>
    ここにキャッチコピーを入れる<br>
  </p>
</div>

<div class ="ideas_container">
  <a href="/pages/detail" class="card w-75 bg-light mx-auto m-3 text-decoration-none">
    <div class="card-body">
      <div class="row p-1">
        <h5 class="card-title col-9">アイデア1のタイトル</h5>
        <p class="card-text ps-3 col-3">最終更新:1時間前</p>
      </div>
      <p class="card-text ps-3">
        ここにアイデアの概要を入れる。ここにアイデアの概要を入れる。ここにアイデアの概要を入れる。
        ここにアイデアの概要を入れる。ここにアイデアの概要を入れる。ここにアイデアの概要を入れる。 
      </p>
    </div>
  </a>
</div>

